<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidor</title>
</head>
<body>

    <header>
        <a href="../index.html"><img src="../assets/img/Logo 1.jpeg" alt="Logo"></a>
    </header>

    <main>
        <form action="" method="">

            <label for="name">Primer nombre:</label>
            <input type="text" id="name" name="name" placeholder="Introduzca su primer nombre" minlenght="2" maxlength="50" tittle="Se admiten solo letras" autocomplete="off" required>

            <br><br>

            <label for="segundo name">Segundo nombre:</label>
            <input type="text" id="segundo name" name="name" value="" placeholder="Introduzca su segundo nombre" minlenght="3" maxlength="50" pattern="[a-z A-Z] {3,20}" tittle="Se admiten solo letras" autocomplete="off" required>

            <br><br>

            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="name" value="" placeholder="Introduzca sus apellidos" minlenght="3" maxlength="50" pattern="[a-z A-Z] {3,20}" tittle="Se admiten solo letras" autocomplete="off" required>

            <br><br>

            <label for="email"> Correo electronico:</label>
            <input type="email" id="email" placeholder="Email"> 

            <br><br>

            <label for="phone">Telefono:</label> 
            <input type="tel" placeholder="Ej. 312 5547856" id="phone">

            <br><br>

            <label for="pss">Contraseña:</label>
            <input type="password" id="pss" placeholder="Contraseña">
            
            <br><br>

            <label for="pss">Confirmar contraseña:</label>
            <input type="password" id="pss" placeholder="Contraseña">
            
            <br><br>

            <label for="condiciones">¿Acepta terminos y condiciones?</label>
            <input type="checkbox" id="condiciones">
            
            <br><br>

            <button type="submit">Enviar</button>

        </form>
    </main>

    <footer>

    </footer>


</body>
</html>