<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuidor</title>
</head>
<body>
    <form action="" method="">

        <label for="name">Introduzca su primer nombre:</label>
        <input type="text" id="primer name" name="name" value="" placeholder="Introduzca su primer nombre" minlenght="3" maxlength="50" pattern="[a-z A-Z] {3,20}" tittle="Se admiten solo letras" autocomplete="off" required>

        <br><br>

        <label for="name">Introduzca su segundo nombre:</label>
        <input type="text" id="segundo name" name="name" value="" placeholder="Introduzca su segundo nombre" minlenght="3" maxlength="50" pattern="[a-z A-Z] {3,20}" tittle="Se admiten solo letras" autocomplete="off" required>






    </form>
</body>
</html>