<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Login</title>
</head>
<body>
    <header>
        <a href="../index.html"><img src="../assets/img/Logo.png" alt="Logo"></a>
    </header>

    <main>

        <img src="../assets/img/Login.png" alt="Login">
        <h1>Ingresar</h1>

        <form action="" method="">

            <label for="email">Correo electronico:</label>
            <input type="email" id="email" placeholder="Email@address.com"> 

            <br><br>

            <label for="pss">Contraseña:</label>
            <input type="password" id="pss" placeholder="Contraseña">
            
            <br>
            
            <a href="./RecuperarContraseña.html">¿Has olvidado tu contraseña?</a>

            <br><br>

            <div>
                <button type="submit">Ingresar</button>
            </div>
            
            <h3>¿Nuevo cliente? <a href="./Registro.html">Empieza aquí</a></h3> 
        </form>
    </main>

    <footer>

    </footer>
    <script src="../scripts/main.js"></script>
    <script src="https://kit.fontawesome.com/ffc8a6794e.js" crossorigin="anonymous"></script>
</body>
</html>