<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Soy:</title>
</head>
<body>
    <header>
        <a href="../index.html"><img src="../assets/img/Logo 1.jpeg" alt="Logo"></a>
    </header>
    <main>
        <ul>
            <li><h1>Soy:</h1></li>
            <li><a href="./Cliente_login.html"><h1>Cliente</h1></a></li>
            <li><a href="./Distribuidor_login.html"><h1>Distribuidor</h1></a></li>
            <li><a href="./Empresa_login.html"><h1>Empresa</h1></a></li>
            
        </ul>
    </main>
    <footer>
        <h4>Solicitar ayuda</h4>
        <i class="fa-solid fa-circle-question"></i>
    </footer>
    <script src="../scripts/main.js"></script>
    <script src="https://kit.fontawesome.com/ffc8a6794e.js" crossorigin="anonymous"></script>
</body>
</html>