<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>

    <header>
        <a href="../index.html"><img src="../assets/img/Logo.png" alt="Logo"></a>
    </header>

    <main>

        <img src="../assets/img/Register.png" alt="Register">
        <h1>Registration</h1>

        <form action="" method="">

            <label for="name">First Name:</label>
            <input type="text" id="name" name="name" placeholder="Katty" minlenght="2" maxlength="50" tittle="Se admiten solo letras" autocomplete="off" required>

            <br><br>

            <label for="apellidos">Last Name:</label>
            <input type="text" id="apellidos" name="name" value="" placeholder="Perez" minlenght="3" maxlength="50" pattern="[a-z A-Z] {3,20}" tittle="Se admiten solo letras" autocomplete="off" required>

            <br><br>

            <label for="email"> Email:</label>
            <input type="email" id="email" placeholder="Email@address.com"> 

            <br><br>

            <label for="phone">Phone:</label> 
            <input type="tel" placeholder="Phone number" id="phone">

            <br><br>

            <label for="pss">Password:</label>
            <input type="password" id="pss" placeholder="Password">
            
            <br><br>

            <label for="pss">Confirm Password:</label>
            <input type="password" id="pss" placeholder="Password">
            
            <br><br>

            <label for="condiciones">Do you accept terms and conditions?</label>
            <input type="checkbox" id="condiciones">

            <a href="">Read</a>
            
            <br><br>

            <div>
                <button type="submit">Send</button>
            </div>
            
        </form>
    </main>

    <footer>

    </footer>


</body>
</html>