<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Tabla</title>
</head>
<body>

    <table>
        <!--Titulo-->
        <caption><h1><u>Backend & Frontend</u></h1></caption>
        <!--Cabecera de la tabla-->
        <thead>
                <tr><!--Fila-->
                <th></th>
                <th>Backend</th>
                <th>Frontend</th>
            </tr>
        </thead>

        <tbody><!--Cuerpo de la tabla-->
            <tr>
                <th>Definicion</th>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ipsa iusto doloribus aperiam. Non ex autem dolorem dolores praesentium quisquam molestias consequuntur nisi aut. Hic ipsam animi culpa quod nam!</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quod fuga, ipsa temporibus facere dignissimos non quaerat repellat sapiente. Ducimus atque ipsum cumque illum nostrum quibusdam exercitationem et error mollitia.</td>
            </tr>

            <tr>
                <th>Importancia</th>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ipsa iusto doloribus aperiam. Non ex autem dolorem dolores praesentium quisquam molestias consequuntur nisi aut. Hic ipsam animi culpa quod nam!</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quod fuga, ipsa temporibus facere dignissimos non quaerat repellat sapiente. Ducimus atque ipsum cumque illum nostrum quibusdam exercitationem et error mollitia.</td>
            </tr>

            <tr>
                <th>Caracteristicas</th>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ipsa iusto doloribus aperiam. Non ex autem dolorem dolores praesentium quisquam molestias consequuntur nisi aut. Hic ipsam animi culpa quod nam!</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quod fuga, ipsa temporibus facere dignissimos non quaerat repellat sapiente. Ducimus atque ipsum cumque illum nostrum quibusdam exercitationem et error mollitia.</td>
            </tr>

            <tr>
                <th>Tipos</th>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem ipsa iusto doloribus aperiam. Non ex autem dolorem dolores praesentium quisquam molestias consequuntur nisi aut. Hic ipsam animi culpa quod nam!</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quod fuga, ipsa temporibus facere dignissimos non quaerat repellat sapiente. Ducimus atque ipsum cumque illum nostrum quibusdam exercitationem et error mollitia.</td>
            </tr>

    </table>

    <br>

    <img src="../img/backend.png" alt="backend">
    
    
    <script src="../scripts/main.js"></script>
</body>
</html>